@import url(common.scss);

.test {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h1 {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(10, 83, 190, 0.48);
    box-shadow:0 0 10px 5px rgba(0,0,0,0.3);
  }

  .user-info {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(10, 83, 190, 0.48);
    background-color: rgba(255, 255, 255, .7);
    box-shadow:0 0 10px 5px rgba(0,0,0,0.3);

    .avatar {
      margin-bottom: 10px;

      > div {
        height: 100px !important;
        width: 100px !important;
        margin: auto;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid rgba(10, 83, 190, 0.48);
        box-shadow:0 0 10px 5px rgba(0,0,0,0.3);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    > div {
      display: flex;
      align-items: center;

      > div:nth-child(1n) {
        width: 100px;
        display: flex;
        align-items: center;
        font-weight: 500;
        line-height: 1.2;
        font-size: 1.5rem;
      }

      > div:nth-child(2n) {
        width: auto;
        font-weight: 500;
        line-height: 1.2;
        font-size: 1.5rem;
        margin: 0 5px 0 2px;
      }

      > div:nth-child(3n) {
        width: auto;
        font-weight: 200;
        line-height: 1.2;
        font-size: 1.5rem;
      }
    }
  }
}
