:root {
  --transparent: transparent;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--transparent);
}

html, body, .app-container {
  height: 100%;
}

body {
  flex-direction: column;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@import "jelly-3d";

.app-container {
  display: flex;
  flex-direction: column;

  main.main-container {
    flex: 1;
  }

  header.header-container {
    display: flex;
    align-items: center;
    background-color: red;
    height: 40px;

    .header-left {
      flex: 1;
      background-color: green;
    }
  }
}