/* 全局应用 */
html, body {
  font-family: "Microsoft YaHei UI", serif;
}

* {
  margin: 0;
  padding: 0
}

.app-container, body, html {
  height: 100% !important
}

html, body, .app-container {
  height: 100% !important;
}

body {
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #eff0f4;
}

input {
  user-select: none;
}

.form-floating>.form-control,.form-floating>.form-control-plaintext,.form-floating>.form-select {
  height: 35px;
  min-height: 35px;
  line-height: unset;
}

.form-floating>.form-control,.form-floating>.form-control-plaintext {
  padding: 0 10px;
}

.form-floating>.form-control-plaintext:focus,.form-floating>.form-control-plaintext:not(:placeholder-shown),.form-floating>.form-control:focus,.form-floating>.form-control:not(:placeholder-shown) {
  padding-top: unset;
  padding-bottom: unset;
}

.form-floating>.form-control-plaintext~label,.form-floating>.form-control:focus~label,.form-floating>.form-control:not(:placeholder-shown)~label,.form-floating>.form-select~label {
  transform: scale(.9) translateY(-.5rem) translateX(.15rem);
  height: 18px;

  &:before {
    content: '';
    width: 100%;
    height: 7px;
    position: absolute;
    top: calc(50% - 4px);
    left: 0;
    background-color: var(--bs-body-bg);
    z-index: -1;
  }
}

.form-control.is-valid:focus, .was-validated .form-control:valid:focus,
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
  box-shadow: unset;
}

.form-floating > label {
  margin: 0 5px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  user-select: none;
  background-color: transparent !important;
}

.float-form {
  flex: 1;
  user-select: none;

  .form-control {
    --bs-border-radius: 4px;
    --bs-border-color: #747675ba;
  }

  .form-control:focus {
    box-shadow: unset;
  }
}
